.mce-content-body p {
    margin: 5px 0;
}
.email-body{
	padding: 3px;
	position: relative;
}
.email-footer{
	position: relative;
	top: 120px;
	bottom: 5px;
	width: 94%;
	padding: 5px;
}
.alert{
	padding: 5px;
	margin-bottom: 5px;
}
.file{
	margin-right: 25%;
}